<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Register</h1>
            <fieldset>
              <form>
                <label>
                    First Name: <input type="text" id="fname" name="fname" />
                </label>
                <label>
                    Last Name: <input type="text" id="lname" name="lname" />
                </label>
                <label>
                    Password: <input type="password" id="pass1" name="pass1" />
                </label>
                <label>
                    Repeat Password: <input type="password" id="pass2" name="pass2" />
                </label>
                <label>
                    email: <input type="text" id="email" name="email" />
                </label>
                <label>
                    Address: <input type="text" id="address" name="address" />
                </label>
                <label>
                    City: <input type="text" id="city" name="city" />
                </label>
                <label>
                    Province: <select>
                                <option id="0">Alberta</option>
                                <option id="1">British Columbia</option>
                                <option id="2">Manitoba</option>
                                <option id="3">New Brunswick</option>
                                <option id="4">Newfoundland and Labordor</option>
                                <option id="5">Northwest Teritories</option>
                                <option id="6">Nova Scotia</option>
                                <option id="7">Saskatewan</option>
                                <option id="8">Nunivut</option>
                                <option id="9">Ontario</option>
                                <option id="10">Prince Edward Island</option>
                                <option id="11">Quebec</option>
                              </select>
                </label>


              </form>
            </fieldset>
            <script>
            $("#user").change(function() {
              // TODO:  regex only characters and numbers
              if($('#user').val().length < 4 || $('#user').val().length > 24 &&
            /a-z\d/.test($('#user').val()) && /\s/.test($('#user').val()))
              alert('Username must be between 4 and 24 characters long');
              $('#user').val("");
            });
            $("#pass1").change(function() {
              if($('#pass1').val().length <4 || $('#pass1').val().length >24) {
              alert('Password must be between 4 and 24 characters long'); 
              $('#pass1').val(""); }
            });
            $("#pass2").change(function() {
              if($('#pass2').val().length <4 || $('#pass2').val().length >24) {
              alert('Password must be between 4 and 24 characters long');
              $('#pass2').val(""); }
            });
            $("#email").change(function() {
                if(!/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test($("#email").val())) { 
                   alert($("#email").val() + " is not a valid email address");
                    $('#email').val("");
                }
            });
            // TODO:  regex only characters and numbers and period
            $("#address").change(function() {
                if($("#address").val().length < 4 || $("#address").val().length > 255) {
                    alert("Address is invalid");
                    $("#address").val("");
                }
            });
            $("#city").change(function() {
                if($("#city").val().length < 4 || $("#city").val().length > 255) {
                    alert("city is invalid");
                    $("#city").val("");
                }
            }); /*
            $("#province").change(function() {
                if($("#province".) {
                    alert("Province is invalid");
                    $("#province").val("");
                }
            }); */
            /*
             * Submit Registration
             *
             */
            </script>
        </div>
    </main>

    <footer>
        <% include ../../partials/footer %>
    </footer>

</body>
</html>
